/*
    GCP Colours:
    Blue        #004C83
    Green       #50B985
    Yellow      #C29B48
    Red         #F06874
    Light Blue  #0170B4
    Grey        #545456
*/

* {
    font-family: "Manrope";
    color: #545456;
}

nav {
    background-color: #004C83;
}

footer {
    border-top: 1px solid #000000;
    text-align: center;
    background-color: #545456; 
    color: #FFFFFF;
    font-size: 75%;
}

#mainContainer {
    margin-top: 1em;
    margin-bottom: 1em;
}

/************************
* CLASSES
************************/

.alert {
    border: 1px solid #000000;
}

.alert-success {
    color: #FFFFFF;
    background-color: #50B985;
}

.btn {
    border: 1px solid #000000;
}

.btn-success {
    background-color: #50B985;
}

.card {
    margin-bottom: 1em;
    border: 1px solid #000000;
}

.card-header {
    color: #FFFFFF;
    background-color: #0170B4;
    border-bottom: 1px solid #000000;
}